<p id="notice"><%= notice %></p>

<p>
  <b>Vehicle:</b>
  <%= @note.vehicle.number %>
</p>
<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<%= link_to 'Edit', edit_vehicle_note_path(@vehicle, @note) %> |
<%= link_to 'Back', vehicle_notes_path(@vehicle) %>
