<h1>Listing checklists</h1>
<% if @vehicle %>
	Vehicle ID: <%= @vehicle.id %><br />
	Vehicle number: <%= @vehicle.number %><br />
	Vehicle created: <%= @vehicle.created_at %><br />
	Vehicle updated: <%= @vehicle.updated_at %>
<% end %>
<table>
  <tr>
    <th>Title</th>
    <th>Vehicle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checklists.each do |checklist| %>
  <tr>
    <td><%= checklist.title %></td>
    <td><%= checklist.vehicle_id %></td>
    <td><%= link_to 'Show', vehicle_checklist_path(@vehicle, checklist) %></td>
    <td><%= link_to 'Edit', edit_vehicle_checklist_path(@vehicle, checklist) %></td>
    <td><%= link_to 'Destroy', [@vehicle, checklist], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vehicle Checklist', new_vehicle_checklist_path(@vehicle) %>
