<p id="notice"><%= notice %></p>

<p>
  <b>Vehicle:</b>
  <%= @checklist.vehicle.number %>
</p>
<p>
  <b>Title:</b>
  <%= @checklist.title %>
</p>

<%= link_to 'Edit', edit_vehicle_checklist_path(@vehicle, @checklist) %> |
<%= link_to 'Back', vehicle_checklists_path(@vehicle) %>
